<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
      <style type="text/css">

        .property{
            min-height:150px;
        }
        .top-bar{
            display:none;
        }
        .properties-container{
            width:95%;
        }
   
        @media only screen and (min-width: 992px)
        #property-listings .property-listing img {
          max-width: 180px;
          height: 150px;
        }
        

        .about{
            margin-bottom:-1px;
        }

    </style>
    
  </head>
  <body style = "padding-top: 94px;     background-color: #e5e5e5;">

    <% include templates/header.ejs%>
    
    <div class="section-title about">
      <div class="container">
        <div class="row">
          <div class="col-sm-8">
            <h1>נכסים
              <span>
                <a href="index.html">בית </a>
                / לוח נכסים
              </span>
            </h1>
          </div>
        </div>
      </div>
    </div>
    
      <div class="container search-bar">
        <div class="row">
            <form class="form-inline" role="form" action="/board">
              <div class="form-group">
                <label for="adress">כתובת</label>
                <input type="text" class="form-control" id="adress" name="adress" <% if(query.adress) { %> 
                                                                                    value="<%= query.adress.toString().slice(1, -2) %>"
                                                                                    <% } %> >
              </div>
              <div class="form-group">
                <label for="price">תקציב</label>
                <input type="number" class="form-control" id="price" name="price" <% if(query.price) { %> 
                                                                                    value="<%= parseInt(query.price.$lt) -1 %>"  
                                                                                    <% } %> >
              </div>
              <div class="form-group">
                <label for="roomnum">מס׳ חדרים</label>
                <input type="number" class="form-control" id="roomnum" name="roomnum" <% if(query.roomnum) { %> 
                                                                                    value="<%= query.roomnum %>"
                                                                                    <% } %> >
                                                                                    
              </div>
              <button type="submit" class="btn btn-default">חפש</button>
            </form>
        </div>
      </div>
    <div class="container-fluid properties-container" >
        <div class="container container-pad properties-container" id="property-listings">
            <div class="row">
                <div class="col-sm-12 properties-header">
                        <span class="properties-subtitle">הצעות</span>
                        <br>
                        <h1 class="properties-title">נכסינו</h1>
                </div>
            </div>
                
            <div class="row">

                 <% properties.forEach(function(item){ %>
                  <% var img = "https://s3.amazonaws.com/nadlaneilatimages" + item.images[0] %>
                          <div class="col-lg-4 col-sm-6 col-xs-12">
                              <!-- Begin Listing-->
                              <% var propid = item._id %>
                              <div class="bgc-fff btm-mrg-20 property-listing">
                                  <div class="property">
                                      <div class="property-img">
                                          <a class="pull-right pad-0 no-of" href="/property?id=<%= item._id %>" target="_parent">
                                          <div class = "property-tag sale"></div>
                                          <img alt="תמונה לא נמצאה" class="img-responsive" src="<%= img %>" onerror="if (this.src != 'prop-images/0/1.jpg') this.src = 'prop-images/0/1.jpg';">
                                          </a>
                                      </div>
                                      <div class="clearfix visible-sm"></div>
                                      <div class="media-body fnt-smaller pad-10">
                                          <h4 class="media-heading">
                                            <a href="/property?id=<%= item._id %>" target="_parent"> <%= item.adress %> <small class="pull-left"><%= item.price %></small></a></h4>
                                          <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                              <li><%= item.roomnum %> חדרים</li>
                                              <li style="list-style: none">|</li>
                                              <li><%= item.view %></li>
                                              <li style="list-style: none">|</li>
                                              <li><%= item.size %> מ״ר</li>
                                          </ul>
                                          <p class="hidden-xs">
                                              <%= item.comments %>
                                          </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                              <%= item.subcomments %>
                                          </span>
                                      </div>
                                  </div>
                              </div><!-- End Listing-->
                        </div>
                <% }); %>

                </div><!-- End Col -->
            </div><!-- End row -->
        </div><!-- End container -->
    
    <% include templates/footer.ejs%>


  </body>
</html>
