<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
    <script>
      // (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      // (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      // m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      // })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      // ga('create', 'UA-66530521-1', 'auto');
      // ga('send', 'pageview');
    
    </script>
  </head>
  <body>

    <% include templates/header.ejs%>
    
    <% include templates/homeCarousel.ejs%>
 

 <div class="container-fluid properties-container" >
        <div class="container container-pad" id="property-listings">
            <div class="row">
                <div class="col-sm-12 properties-header">
                        <span class="properties-subtitle">הצעות</span>
                        <br>
                        <h1 class="properties-title">נכסינו האחרונים</h1>
                </div>
            </div>
                
            <div class="row">

                <% var num = 0; for(var i=1; i<3; i++) {%>
                        
                        <% for(var k=1; k<3; k++) {%>
                          <div class="col-md-6">
                              <!-- Begin Listing-->
                              <% var propid = houses[num]._id %>
                              <% var img = "https://s3.amazonaws.com/nadlaneilatimages" + houses[num].images[0] %>
                              <div class="bgc-fff btm-mrg-20 property-listing">
                                  <div class="property">
                                      <div class="property-img">
                                          <a class="pull-right pad-0 no-of" href="/property?id=<%= propid %>" target="_parent">
                                          <div class = "property-tag sale"></div>
                                          <img alt="תמונה לא נמצאה" class="img-responsive" src="<%= img %>" onerror="if (this.src != 'prop-images/0/1.jpg') this.src = 'prop-images/0/1.jpg';">
                                          </a>
                                      </div>
                                      <div class="clearfix visible-sm"></div>
                                      <div class="media-body fnt-smaller pad-10">
                                          <h4 class="media-heading">
                                            <a href="/property?id=<%= propid %>" target="_parent"> <%= houses[num].adress %> <small class="pull-left"><%= houses[num].price %></small></a></h4>
                                          <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                              <li><%= houses[num].roomnum %> חדרים</li>
                                              <li style="list-style: none">|</li>
                                              <li><%= houses[num].view %></li>
                                              <li style="list-style: none">|</li>
                                              <li><%= houses[num].size %> מ״ר</li>
                                          </ul>
                                          <p class="hidden-xs">
                                              <%= houses[num].comments %>
                                          </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                              <%= houses[num].subcomments %>
                                          </span>
                                      </div>
                                  </div>
                              </div><!-- End Listing-->
                        </div>

                        <% num++; } %>
                <% } %>

                </div><!-- End Col -->
            </div><!-- End row -->
        </div><!-- End container -->

    
    <% include templates/recSlideshow.ejs%>

    
    <% include templates/footer.ejs%>


  </body>
</html>
