<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
        <link href="stylesheets/main.css" rel="stylesheet">
        <style>
            h1{
                color:#5d5d5d;
            }
        </style>
  </head>
  <body>

  <% include templates/header.ejs%>

  <% include templates/adminMenu.ejs%>


                
<div class="container">

    
    <div class="row">
        <div class="col-sm-12">
            <h1>הודעות אחרונות:</h1>
            <div class="table-responsive">          
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>שם העובד</th>
                    <th>פעולה</th>
                    <th>יעד</th>
                    <th>תאריך</th>
                  </tr>
                </thead>
                <tbody> 
                    <% logs.forEach(function(item){ %>
                        <tr>
                            <td><%= item._id %></td>
                            <td><%= item.user.name %></td>
                            <td><%= item.action %></td>
                            <td><%= item.target %></td>
                            <td><%= item.date %></td>
                        </tr>
                    <% }); %>
                    
                </tbody>
              </table>
              </div>
        </div>
    </div>
</div>
    <% include templates/footer.ejs%>


  </body>
</html>
