<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
        <link href="stylesheets/main.css" rel="stylesheet">
        <style>
            h1{
                color:#5d5d5d;
            }
        </style>
  </head>
  <body>

  <% include templates/header.ejs%>

  <% include templates/adminMenu.ejs%>


                
<div class="container">

    
    <div class="row">
        <div class="col-sm-12">
            <h1>בתים במערכת:</h1>
            <div class="table-responsive">          
              <table class="table table-hover table-bordered">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>כתובת</th>
                    <th>מחיר</th>
                    <th>מספר חדרים</th>
                    <th>גודל(מ״ר)</th>
                    <th>להשכרה?</th>
                    <th>נוף</th>
                    <th>הערות</th>
                    <th>תת הערות</th>
                    <th>מס׳ תמונות</th>
                    <th>מומלץ?</th>
                    <th>הוסף תמונה</th>
                    <th>מחק</th>
                  </tr>
                </thead>
                <tbody> 
                    <% houses.forEach(function(item){ %>
                        <tr>
                            <td><%= item._id %></td>
                            <td><%= item.adress %></td>
                            <td><%= item.price %></td>
                            <td><%= item.roomnum %></td>
                            <td><%= item.size %></td>
                            <td><%= item.action %></td>
                            <td><%= item.view %></td>
                            <td><%= item.comments %></td>
                            <td><%= item.subcomments %></td>
                            <td><%= item.images.length %></td>
                            <td><%= item.IsRec %></td>
                            <td><a class="btn btn-primary btn-md" href="/manage/imgUpload?id=<%= item._id %>" role="button">הוסף</a></td>
                            <td><a class="btn btn-danger btn-md" href="/manage/deleteHouse?id=<%= item._id %>" role="button">מחק</a></td>
                        </tr>
                    <% }); %>
                    
                </tbody>
              </table>
              </div>
        </div>
    </div>
</div>
    <% include templates/footer.ejs%>


  </body>
</html>
