<!DOCTYPE html>
<html>
  <head>
    <title><%= house.adress %></title>
    <% include templates/head.ejs%>
    <% var img = "prop-images/" + housenum  + "/1.jpg" %>
    
    <style>
      .featureimg{
        width:100%;
        max-height: 395px;
      }
      .description{
        background: #fafafa;
        padding: 20px;
        border: 1px solid #ddd;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        line-height: 26px;
        color: #5c5c5c;
        position: relative;
        font-weight: normal;
        background-color: #fafafa;
        border-bottom: 3px solid #F68620;
      }
      .properties-container{
        background-color: #ffffff;
      }
      .description h3{
        font-weight: bold;
        padding: 5px 0 15px 0;
        margin: 0;
        color: #080808;
        font-size: 25px;
        line-height: 28px;
      }
      .info_details {
        padding: 0;
        list-style: none;
        margin-top: 0;
        margin-bottom: 10px;
        direction:rtl;
      }
      .info_details li {
        line-height: 30px;
        border-bottom: 1px solid #cdcdcd;
        padding: 5px 0;
      }
      .info_details li:last-child {
        border: 0;
      }
      .row{
        margin-bottom:20px;
      }
      .no-of{
        width:100%;
      }
    </style>
  </head>
  <body>

    <% include templates/header.ejs%>
    
    <div class = "container-fluid properties-container">
      <div class="container">
        <div class = "row" >
          
          <div class="col-sm-12"><h1 style="color:#333;"> <%= house.adress %> </h1></div>
          
        </div>
        
        <div class="row">
          <div class="col-md-4 col-sm-12">
            
            <div class="description">
                <h3>נתונים כלליים</h3>
                <p>*הנתונים המוצגים מועדים לשינוי עקב אי עדכון האתר, אנא צרו קשר לוידוי הפרטים.</p>
  
                <h4><%= house.adress %></h4>
                <ul class="info_details">                          
                    <li><strong>מחיר:</strong><span> <%= house.price %> </span></li>
                    <li><strong>חוזה:</strong><span>
                      <% if(house.action == 1) { %>
                        למכירה
                      <% } else { %>
                        להשכרה
                      <% } %>
                    </span></li>
                    <li><strong>שטח:</strong><span><%= house.size %> מ״ר</span></li>
                    <li><strong>מספר חדרים:</strong><span><%= house.roomnum %></span></li>
                    <li><strong>נוף:</strong><span><%= house.view %></span></li>
                </ul>
            </div>

          </div>
          
          <div class="col-md-8 col-sm-12">
            <a class="pull-right pad-0 no-of" target="_parent">
                                      
              <% if(house.action == 1) { %>
                <div class = "property-tag sale"></div>
              <% } else { %>
                <div class = "property-tag rent"></div>
              <% } %>
              
              <img class="featureimg" alt="לבית זה אין תמונות." src="<%= img %>" onerror="if (this.src != 'prop-images/0/1.jpg') this.src = 'prop-images/0/1.jpg';">
            </a>
           
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="description">
              <h3>הערות</h3>
              <h5><%= house.comments %></h5>
              <h5><small><%= house.subcomments %></small></h5>
            </div>
          </div>
       
        </div>
      </div>
    </div>

    <% include templates/recSlideshow.ejs%>

    <% include templates/footer.ejs%>

  </body>
</html>
