<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <% include templates/head.ejs%>
  </head>
  <body>

    <% include templates/header.ejs%>
 <style type="text/css">

        .property{
            min-height:150px;
        }
        .top-bar{
            display:none;
        }
        .container{
            width:95%;
        }
   
        @media only screen and (min-width: 992px)
        #property-listings .property-listing img {
          max-width: 180px;
          height: 150px;
        }

    </style>
    
    <div class="container-fluid properties-container" >
        <div class="container container-pad" id="property-listings">
            <div class="row">
                <div class="col-sm-12 properties-header">
                        <span class="properties-subtitle">הצעות</span>
                        <br>
                        <h1 class="properties-title">נכסינו האחרונים</h1>
                </div>
            </div>
                
            <div class="row">

                 <% recom.recProperties.forEach(function(item){ %>
                 <% var img = "prop-images/" + (item.propertyID - 1) + "/1.jpg" %>
                          <div class="col-lg-4 col-sm-6 col-xs-12">
                              <!-- Begin Listing-->
                              <% var propid = item.propertyID %>
                              <% var img = "prop-images/" + (item.propertyID - 1) + "/1.jpg" %>
                              <div class="bgc-fff btm-mrg-20 property-listing">
                                  <div class="property">
                                      <div class="property-img">
                                          <a class="pull-right pad-0 no-of" href="/property?id=<%= item.propertyID %>" target="_parent">
                                          <div class = "property-tag sale"></div>
                                          <img alt="תמונה לא נמצאה" class="img-responsive" src="<%= img %>">
                                          </a>
                                      </div>
                                      <div class="clearfix visible-sm"></div>
                                      <div class="media-body fnt-smaller pad-10">
                                          <h4 class="media-heading">
                                            <a href="/property?id=<%= item.propertyID %>" target="_parent"> <%= item.adress %> <small class="pull-left"><%= item.price %></small></a></h4>
                                          <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                              <li><%= item.roomnum %> חדרים</li>
                                              <li style="list-style: none">|</li>
                                              <li><%= item.view %></li>
                                              <li style="list-style: none">|</li>
                                              <li><%= item.size %> מ״ר</li>
                                          </ul>
                                          <p class="hidden-xs">
                                              <%= item.comments %>
                                          </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                              <%= item.subcomments %>
                                          </span>
                                      </div>
                                  </div>
                              </div><!-- End Listing-->
                        </div>
                <% }); %>

                </div><!-- End Col -->
            </div><!-- End row -->
        </div><!-- End container -->

    <% include templates/footer.ejs%>

  </body>
</html>
