
 <style type="text/css">
        .transition-timer-carousel .carousel-captiontry {
            background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 4%, rgba(0,0,0,0.5) 32%, rgba(0,0,0,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(4%,rgba(0,0,0,0.1)), color-stop(32%,rgba(0,0,0,0.5)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.1) 4%,rgba(0,0,0,0.5) 32%,rgba(0,0,0,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0) 4%,rgba(0,0,0,0.2) 32%,rgba(0,0,0,0.4) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
        	width: 100%;
        	left: 0px;
        	right: 0px;
        	top:0px;
        	text-align: left;
        	padding-top: 3%;
        	padding-left: 10%;
        	padding-right: 10%;
        }
        
        
        .delay1 {
          animation-delay: 100ms;
          -webkit-animation-delay: 100ms;
        }
        
        .delay2 {
          animation-delay: 300ms;
          -webkit-animation-delay: 300ms;
        }
        
        .delay3 {
          animation-delay: 600ms;
          -webkit-animation-delay: 600ms;
        }
        
        .delay4 {
          animation-delay: 900ms;
          -webkit-animation-delay: 900ms;
        }
        
        .pad-right-10{
            padding-left:10px;
        }
        .property{
            min-height:150px;
        }
        

        
/* Tabs  ----------------------------*/
        .bg_header{
        	position: absolute;
        	margin-top: 12%;
        	width: 100%;
        	max-width: 420px;
        	z-index: 2;
        	left: 30px;
        }
        
        .search_box{
              background: #000;
            background: rgba(0,0,0,0.8);
            width: 100%;
            max-width: 450px;
            padding: 15px 5%;
                height:auto;
        }
        
.tabs_services{	
	padding: 0;
	margin-bottom: 5px;
}
.tabs_services li{
	display: inline-block;	
	font-size: 14px;
	font-weight: lighter;	
	background: #000;
	background: rgba(0,0,0,0.8);
	padding: 5px 15px;		
	list-style: none
}
.tabs_services li a{	
	cursor: pointer;	
	color: #fff;
}
.switcher-content {
  display: none !important;
}
.show-switcher{
	display: block;
}
.switcher-panel{
	padding: 0 0 0;
}
.divisor_services{
	margin:0;
}
.search_box input,
.filter_horizontal input{
	width: 100%;
	background: #fff;
	border-radius: 0;
	color: #222;	
	height: 35px;
	font-size: 14px;
	margin-top: 2px;
	padding: 5px;
}
.search_box label{
	color: #fff;
	font-weight: normal;
	font-size: 14px;
	line-height: 23px;
	padding: 5px 0 0 0;
}
.search_box h2{
	color: #fff;
	font-weight: normal;
	font-size: 22px;
	line-height: 23px;
	padding: 5px 0 0 0;
	margin-top:0px;
}
.search_box .btn{
  margin-top:20px;
  text-align:left;
}
.search_box select,
.filter_horizontal select{
	background-color: #fff;
	color: #222;
	width: 100%;
	border-radius: 0;
	border: 1px solid #dedede;
	font-size: 14px;
	height: 35px;
}

.search-container{
  width:80%;
}

.btndiv{
  width:100%;
  direction:ltr;
  text-align:left;
}




    </style>

    
    
    <div class="container carousel-container">
        <div class="row">
          
          <div class="container search-container hidden-sm hidden-xs">
                    <div class="row">
                        <div class="col-md-5 col-md-offset-7">                        
                            <div class="row bg_header">
                                <div class="clearfix"></div>
                                   <div class="search_box">
                                        <form action="/search">
                                            <h2>חיפוש</h2>
                                            <div class="">
                                                <label>כתובת</label>
                                                <input type="text">
                                            <div>
                                                <label>טווח מחירים</label>                                     
                                                <select name="pricing">
                                                      <option>ראה הכל</option>                                  
                                                    <option value="info_price">0 - 300.000</option>
                                                    <option value="info_price">300.000 - 500.000</option>
                                                    <option value="info_price">500.000 - 800.000</option>
                                                    <option value="info_price">800.000 - 1.000.000</option>
                                                    <option value="info_price">10.000.000 +</option>    
                                                </select>
                                            </div>
                                            <div>
                                                <label>מס׳ חדרים</label>
                                                <input type="Number">
                                            </div>
                                            <div class="btndiv">
                                               <button type="submit" name="submit" class="btn btn-primary btn-lg">חפש</button>
                                            </div> 
                                        </form>                               
                                    </div>   
                                </div>
                                <!-- End 1-content -->
                            </div>       
                        </div>
                    </div>
                </div>
                
                
            <!-- The carousel -->
        <div id="transition-timer-carousel" class="carousel slide transition-timer-carousel" data-ride="carousel">
    			<!-- Indicators -->
    			<ol class="carousel-indicators">
    				<li data-target="#transition-timer-carousel" data-slide-to="0" class="active"></li>
    				<li data-target="#transition-timer-carousel" data-slide-to="1"></li>
    				<li data-target="#transition-timer-carousel" data-slide-to="2"></li>
    			</ol>
    
    			<!-- Wrapper for slides -->
    			<div class="carousel-inner">
        				
        				<% var first = true %>
        				<% for(var num = 0; num<=2; num++) {%>
          				  <% if(first == true) { %>
          				    <div class="item active">
          				    <% first = false %>
          				  <% } else { %>
          				    <div class="item">
          				  <% } %>
        				        
        				        <% var img = "https://s3.amazonaws.com/nadlaneilatimages" + houses[num].images[0]  %>
            				    <img class = "slider-img" alt="תמונה לא נמצאה" src="<%= img %>" onerror="if (this.src != 'prop-images/0/1.jpg') this.src = 'prop-images/0/1.jpg';"/>
                        <div class="carousel-caption carousel-captiontry camera_caption">
                            <h1 class="carousel-caption-header animated fadeInRight delay1">
                                <%= houses[num].adress %>
                            </h1><br><br>
                            <p class="carousel-caption-text animated fadeInRight delay2 hidden-xxxs">
                                הערות:
                                <%= houses[num].comments %>
                            </p>
                            <ul class="animated fadeInRight delay3 hidden-xxs">
                                <li><span class="pad-right-10"><%= houses[num].roomnum %></span><i class="fa fa-bed"></i></li>
                                <li><span class="pad-right-10"><%= houses[num].view %></span><i class="fa fa-binoculars"></i></li>
                                <li><span class="pad-right-10"><%= houses[num].price %></span>₪</li>
                            </ul>
                            <div class="more animated fadeInRight delay4">
                                <a href="/property?id=<%= houses[num]._id %>" class="button">ראה עוד</a>
                            </div>
                        </div>
                      </div>
        				  
        				<% } %>
        				
        				
          </div>
    
    			<!-- Controls -->
    			<a class="left carousel-control" href="#transition-timer-carousel" data-slide="next">
    				<span class="glyphicon glyphicon-chevron-left"></span>
    			</a>
    			<a class="right carousel-control" href="#transition-timer-carousel" data-slide="prev">
    				<span class="glyphicon glyphicon-chevron-right"></span>
    			</a>
                
                <!-- Timer "progress bar" -->
                <hr class="transition-timer-carousel-progress-bar animate" />
    		</div>
        </div>
    </div>
    <!--end carousel-->