
    <style>
      .itemimg{
        height:170px;
        width:248px;
      }
      .comBox {
          position: relative;
          font-family: sans-serif;
          display: block;
          width: 100%;
          height: 1em;
          overflow: hidden;
      }
      .comBox .comText {
          width: 100%;
          overflow: hidden;
          line-height: 1;
          text-align: justify;
      }
    </style>
    
    
     <div class="container">
        <div class="row">
            <div class="col-sm-12 hr-styled">
                    <div class="diviser">
                        <div class="circle_right"></div>
                        <div class="circle_left"></div>
                    </div>
            </div>
        </div>
    </div>
    <!-- /.container -->
 
 <div class="container">
          <div class="row">
            <div class="col-sm-12">
                <h1 class="properties-title btm-mrg-30">המלצות</h1><br><br><br>
            </div>
          
            <div class="col-sm-12"  style="direction:ltr;">
              <div id="owl-example" class="owl-carousel">
                
                
                <% houses.forEach(function(item){ %>
                  <% if(item.IsRec) { %>
                          <div class="owl-item darkCyan">
                            <div class="bgc-fff btm-mrg-20 property-listing">
                                  <div class="property <%= item._id %>">
                                      <div class="property-img">
                                          <a class="pull-right pad-0 no-of" href="/property?id=<%= item._id %>" target="_parent">
                                            
                                            <% if(item.action == true) { %>
                                              <div class = "property-tag rent"></div>
                                            <% } else { %>
                                              <div class = "property-tag sale"></div>
                                            <% } %>
                                            
                                            <img src="<%= item.images[0] %>" class="img-responsive itemimg" onerror="this.src = 'prop-images/0/1.jpg';"> 
                                          </a>
                                      </div>
                                      <div class="clearfix visible-sm"></div>
                                      <div class="media-body fnt-smaller pad-10">
                                          <h4 class="media-heading">
                                            <a href="/property?id=<%= item._id %>" target="_parent"><%= item.adress  %><small class="pull-left"><%= item.price %></small></a></h4>
                                          <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                              <li><%= item.roomnum %> חדרים</li>
                                              <li style="list-style: none">|</li>
                                              <li><%= item.view %></li>
                                              <li style="list-style: none">|</li>
                                              <li><%= item.size %> מ״ר</li>
                                          </ul>
                                          <p class="hidden-xs">
                                              <div class="comBox">
                                                  <div class="comText">
                                                    <%= item.comments %>...
                                                  </div>
                                              </div>
                                          </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                              <% if(item.subcomments) {%>
                                                <%= item.subcomments %>
                                              <% } else { %>
                                                אין הערות קטנות.
                                              <% } %>
                                              
                                          </span>
                                      </div>
                                  </div>
                              </div><!-- End Listing-->
                          </div>
                
                  <% } %>
                <% }); %>
  
  
              </div>
            </div>
          </div>
        </div>


